@model RocStudiosMVCProject.Models.ForgetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <form class="mt-8 space-y-6" action="ResetPassword" method="POST">



        <div class="rounded-md shadow-sm space-y-2">

            <div>
                @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-secodary focus:border-secodary focus:z-10 sm:text-sm", @placeholder = "Enter A New Password", @name = "NewPass" } })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-red-700 " })
            </div>
            <div>
                @Html.EditorFor(model => model.conFirmNewPass, new { htmlAttributes = new { @class = "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-secodary focus:border-secodary focus:z-10 sm:text-sm", @placeholder = "Confirm New Password", @name = "ConfirmNewPass" } })
                @Html.ValidationMessageFor(model => model.conFirmNewPass, "", new { @class = "text-red-700 " })
            </div>
            <div>
                @Html.HiddenFor(model => model.code)
            </div>
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <br />
                    @if (ViewBag.messageSuccess != null)
                    {<label class="text-green-700">@ViewBag.messageSuccess</label>}
                    @if (ViewBag.messageError != null)
                    {<label class="text-red-700">@ViewBag.messageError</label>}
                </div>
            </div>
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary hover:bg-secodary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secodary">
                    Reset Password
                </button>
            </div>

        </div>
    </form>
}
